html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin-bottom: 8rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.city-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.forecast-title,
.weather-title {
  margin: 0 4rem 1rem;
}

.weather-icon {
  margin-left: 1rem;
}

form {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  padding: 0 4rem;
}

.search {
  border-radius: 9999px;
  border: 1px solid #d1d5db;
  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
  outline: none;
  transition: border 200ms ease;
  flex-grow: 1;
}

.search:focus {
  border-color: #1ab2ff;
}

.submit-btn {
  border: none;
  background-color: #1ab2ff;
  color: transparent;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0;
  border-radius: 9999px;
  cursor: pointer;
  transition: width 500ms ease, padding 500ms ease, color 500ms ease,
    box-shadow 500ms ease, background-color 500ms ease;

  user-select: none;
  height: 40px;
  width: 40px;
  text-align: center;

  position: relative;
}

.submit-btn:hover {
  box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
  background-color: #4dc3ff;
  color: white;
  width: 130px;
  padding: 0.5rem 2rem;
}

.submit-search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: color 300ms ease;
}

.submit-btn:hover .submit-search-icon {
  color: transparent;
}

.data-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.data-item {
  list-style-type: none;
  background: rgb(141, 205, 236, 0.3);
  border-radius: 1rem;
  text-align: center;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  flex: 1 0 200px;
  height: 200px;
  /* aspect-ratio: 1; */
}

.data-title {
  font-weight: bold;
  font-size: 1.1rem;
  position: absolute;
  top: 1.5rem;
}

.data-value {
  font-size: 1.5rem;
}

.data-notes {
  font-size: 0.9rem;
  color: rgb(0, 0, 0, 0.5);
  position: absolute;
  bottom: 1.5rem;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.weather-icon[src='#'] {
  display: none;
}

footer {
  width: 100%;
  background-color: #e5e7eb;
  padding: 0.5rem;

  position: fixed;
  bottom: 0;
}

.weatherapi-attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.weatherapi-image {
  height: 2rem;
}

.weather-forecast {
  display: flex;
  gap: 1rem;
  margin: 0 4rem 2rem;

  overflow-x: scroll;
}

.forecast-list {
  background: rgb(141, 205, 236, 0.3);
  border-radius: 1rem;
  text-align: center;
  padding: 1.5rem;
  flex: 0 0 200px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.forecast-list .title {
  text-align: center;
  width: 100%;
}

.forecast-item {
  list-style-type: none;
}

.day-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
